interface={{access_point_interface}}
driver=nl80211
ssid={{access_point_ssid}}
hw_mode=g
channel={{access_point_channel}}
wmm_enabled=0
macaddr_acl=0
auth_algs=1
ignore_broadcast_ssid=0
wpa=2
wpa_passphrase={{access_point_wpa_passphrase}}
wpa_key_mgmt=WPA-PSK
wpa_pairwise=TKIP
rsn_pairwise=CCMP

