storage.last-location="/home/arjen/.cache/spotify/Storage"
core.clock_delta=0
app.autostart-mode=""
autologin.canonical_username="dotarj"
autologin.saved_credentials="{\"dotarj\":\"{{ password }}\"}"
autologin.blob="{{ password }}"
autologin.username="dotarj"
app.autostart-configured=true

